# Grouping & joins

In [1]:
%load_ext sql
%sql postgresql://appdev@data:5432/appdev

'Connected: appdev@appdev'

In [2]:
%matplotlib inline

### 1. Using a single join and a grouping, write a query that allows you to find the `forename`, `surname`, `driverid` and the total number of wins for each driver in the `f1db` schema.

In [3]:
%%sql 
CREATE VIEW driver_wins AS
SELECT  forename, 
        surname, 
        drivers.driverid, 
        count(*) as wins 
    FROM drivers 
    JOIN results ON results.position = 1 
        AND drivers.driverid = results.driverid 
    GROUP BY drivers.driverid 
    ORDER BY wins DESC;

(psycopg2.ProgrammingError) relation "driver_wins" already exists
 [SQL: 'CREATE VIEW driver_wins AS\nSELECT  forename, \n        surname, \n        drivers.driverid, \n        count(*) as wins \n    FROM drivers \n    JOIN results ON results.position = 1 \n        AND drivers.driverid = results.driverid \n    GROUP BY drivers.driverid \n    ORDER BY wins DESC;']

In [4]:
%sql SELECT * FROM driver_wins;

107 rows affected.

[('Michael', 'Schumacher', 30, 91),
 ('Lewis', 'Hamilton', 1, 60),
 ('Alain', 'Prost', 117, 51),
 ('Sebastian', 'Vettel', 20, 46),
 ('Ayrton', 'Senna', 102, 41),
 ('Fernando', 'Alonso', 4, 32),
 ('Nigel', 'Mansell', 95, 31),
 ('Jackie', 'Stewart', 328, 27),
 ('Jim', 'Clark', 373, 25),
 ('Niki', 'Lauda', 182, 25),
 ('Juan', 'Fangio', 579, 24),
 ('Nico', 'Rosberg', 3, 23),
 ('Nelson', 'Piquet', 137, 23),
 ('Damon', 'Hill', 71, 22),
 ('Mika', 'Häkkinen', 57, 20),
 ('Kimi', 'Räikkönen', 8, 20),
 ('Stirling', 'Moss', 475, 16),
 ('Jenson', 'Button', 18, 15),
 ('Graham', 'Hill', 289, 14),
 ('Jack', 'Brabham', 356, 14),
 ('Emerson', 'Fittipaldi', 224, 14),
 ('Alberto', 'Ascari', 647, 13),
 ('David', 'Coulthard', 14, 13),
 ('Mario', 'Andretti', 207, 12),
 ('Alan', 'Jones', 178, 12),
 ('Carlos', 'Reutemann', 199, 12),
 ('Jacques', 'Villeneuve', 35, 11),
 ('Felipe', 'Massa', 13, 11),
 ('Rubens', 'Barrichello', 22, 11),
 ('Ronnie', 'Peterson', 238, 10),
 ('Gerhard', 'Berger', 77, 10),
 ('Jody', 'Scheckter', 222, 10),
 ('James', 'Hunt', 231, 10),
 ('Mark', 'Webber', 17, 9),
 ('Denny', 'Hulme', 304, 8),
 ('Jacky', 'Ickx', 235, 8),
 ('Juan', 'Pablo Montoya', 31, 7),
 ('René', 'Arnoux', 163, 7),
 ('Gilles', 'Villeneuve', 203, 6),
 ('John', 'Surtees', 341, 6),
 ('Tony', 'Brooks', 479, 6),
 ('Ralf', 'Schumacher', 23, 6),
 ('Jochen', 'Rindt', 358, 6),
 ('Riccardo', 'Patrese', 119, 6),
 ('Jacques', 'Laffite', 172, 6),
 ('Michele', 'Alboreto', 105, 5),
 ('Daniel', 'Ricciardo', 817, 5),
 ('Nino', 'Farina', 642, 5),
 ('John', 'Watson', 187, 5),
 ('Keke', 'Rosberg', 177, 5),
 ('Clay', 'Regazzoni', 223, 5),
 ('Eddie', 'Irvine', 56, 4),
 ('Dan', 'Gurney', 364, 4),
 ('Bruce', 'McLaren', 360, 4),
 ('Johnny', 'Herbert', 65, 3),
 ('Didier', 'Pironi', 202, 3),
 ('Heinz-Harald', 'Frentzen', 49, 3),
 ('Phil', 'Hill', 403, 3),
 ('Mike', 'Hawthorn', 578, 3),
 ('Thierry', 'Boutsen', 123, 3),
 ('Peter', 'Collins', 581, 3),
 ('Giancarlo', 'Fisichella', 21, 3),
 ('Jean-Pierre', 'Jabouille', 219, 2),
 ('José Froilán', 'González', 498, 2),
 ('Wolfgang', 'von Trips', 476, 2),
 ('Bill', 'Vukovich', 657, 2),
 ('Pedro', 'Rodríguez', 345, 2),
 ('Maurice', 'Trintignant', 427, 2),
 ('Patrick', 'Tambay', 175, 2),
 ('Jo', 'Siffert', 346, 2),
 ('Valtteri', 'Bottas', 822, 2),
 ('Max', 'Verstappen', 830, 2),
 ('Elio', 'de Angelis', 173, 2),
 ('Patrick', 'Depailler', 221, 2),
 ('Peter', 'Revson', 309, 2),
 ('Peter', 'Gethin', 320, 1),
 ('Jo', 'Bonnier', 347, 1),
 ('Jim', 'Rathmann', 509, 1),
 ('Robert', 'Kubica', 9, 1),
 ('Luigi', 'Fagioli', 786, 1),
 ('Lorenzo', 'Bandini', 385, 1),
 ('Lee', 'Wallard', 766, 1),
 ('Heikki', 'Kovalainen', 5, 1),
 ('Gunnar', 'Nilsson', 255, 1),
 ('Jochen', 'Mass', 200, 1),
 ('Jean', 'Alesi', 55, 1),
 ('Jarno', 'Trulli', 15, 1),
 ('Jean-Pierre', 'Beltoise', 306, 1),
 ('Jimmy', 'Bryan', 525, 1),
 ('Ludovico', 'Scarfiotti', 375, 1),
 ('Luigi', 'Musso', 577, 1),
 ('Richie', 'Ginther', 386, 1),
 ('Bob', 'Sweikert', 628, 1),
 ('Troy', 'Ruttman', 526, 1),
 ('Innes', 'Ireland', 404, 1),
 ('Pastor', 'Maldonado', 813, 1),
 ('Johnnie', 'Parsons', 593, 1),
 ('Olivier', 'Panis', 44, 1),
 ('Rodger', 'Ward', 449, 1),
 ('Piero', 'Taruffi', 641, 1),
 ('François', 'Cevert', 327, 1),
 ('Giancarlo', 'Baghetti', 394, 1),
 ('Vittorio', 'Brambilla', 230, 1),
 ('Carlos', 'Pace', 250, 1),
 ('Sam', 'Hanks', 611, 1),
 ('Pat', 'Flaherty', 559, 1),
 ('Alessandro', 'Nannini', 145, 1)]

### 2. Write a query that joins the tables `results`, `constructors` and `drivers` to show the amount of times a driver has driven a car from a constructor. In other words how many times one driver (for instance Schumacher) has driven a constructor (for instance Mercedes). Your table should have three fields: `drivers.driverref`, `constructors.name` and `count(*)` (showing the number of times the driver has driven the constructor).

In [5]:
%%sql
DROP VIEW constructors_driven;
CREATE VIEW constructors_driven AS
SELECT  drivers.driverref, 
        constructors.name, 
        count(*) 
    FROM results 
    JOIN constructors ON results.constructorid = constructors.constructorid
    JOIN drivers ON results.driverid = drivers.driverid
    GROUP BY (drivers.driverid, constructors.constructorid)
    ORDER BY count DESC;

Done.
Done.

[]

In [6]:
%sql SELECT * FROM constructors_driven LIMIT 10;

10 rows affected.

[('michael_schumacher', 'Ferrari', 181),
 ('coulthard', 'McLaren', 150),
 ('massa', 'Ferrari', 140),
 ('button', 'McLaren', 137),
 ('rosberg', 'Mercedes', 136),
 ('hakkinen', 'McLaren', 133),
 ('laffite', 'Ligier', 132),
 ('webber', 'Red Bull', 129),
 ('raikkonen', 'Ferrari', 126),
 ('vettel', 'Red Bull', 113)]

### 3. Now we have found the most driven vehicles even for those who didn't finish the race. Extend the query from 2 by removing all tuples from the result where the status is not "Finished".

In [7]:
%%sql
DROP VIEW IF EXISTS constructors_finished;
CREATE VIEW constructors_finished AS
SELECT  drivers.driverref, 
        constructors.name,
        count(status.status)
    FROM results 
    JOIN constructors ON results.constructorid = constructors.constructorid
    JOIN drivers ON results.driverid = drivers.driverid
    JOIN status ON status.statusid = results.statusid 
    AND status.status = 'Finished'
    GROUP BY (drivers.driverid, constructors.constructorid)
    ORDER BY count DESC;

Done.
Done.

[]

In [8]:
%sql SELECT * FROM constructors_finished LIMIT 10;

10 rows affected.

[('michael_schumacher', 'Ferrari', 141),
 ('massa', 'Ferrari', 112),
 ('rosberg', 'Mercedes', 109),
 ('webber', 'Red Bull', 100),
 ('vettel', 'Red Bull', 97),
 ('raikkonen', 'Ferrari', 92),
 ('button', 'McLaren', 87),
 ('alonso', 'Ferrari', 87),
 ('hamilton', 'Mercedes', 85),
 ('coulthard', 'McLaren', 85)]

### 4. Create a third (and new) query that finds the amount of milliseconds spent in pitstop (see the `pitstops` relation) by each unique combinations of `driverid` and `raceid`.

In [9]:
%%sql
DROP VIEW IF EXISTS time_in_pitstops;
CREATE VIEW time_in_pitstops AS
SELECT  drivers.driverref, 
        drivers.driverid, 
        races.raceid, 
        sum(pitstops.milliseconds) as total_pitstop_time
FROM pitstops
JOIN races ON pitstops.raceid = races.raceid
JOIN drivers ON pitstops.driverid = drivers.driverid
GROUP BY (drivers.driverid, races.raceid);

Done.
Done.

[]

In [10]:
%sql SELECT * FROM time_in_pitstops ORDER BY driverid ASC LIMIT 10;

10 rows affected.

[('hamilton', 1, 945, Decimal('42738')),
 ('hamilton', 1, 980, Decimal('44394')),
 ('hamilton', 1, 911, Decimal('73403')),
 ('hamilton', 1, 895, Decimal('25297')),
 ('hamilton', 1, 872, Decimal('20736')),
 ('hamilton', 1, 841, Decimal('46426')),
 ('hamilton', 1, 856, Decimal('41430')),
 ('hamilton', 1, 940, Decimal('45915')),
 ('hamilton', 1, 928, Decimal('44880')),
 ('hamilton', 1, 874, Decimal('40942'))]

### 5. Time to put everything together. Use the query for 4 as a join subquery in query 3 (see slides on "a query within a query") to find the total amount of pitstop time, for each result in query 3

In [11]:
%%sql
SELECT  cf.driverref, cf.name, sum(tip.total_pitstop_time)
    FROM constructors_finished AS cf
    JOIN (
        SELECT  driverref AS tip_driverref, 
                total_pitstop_time, time_in_pitstops.raceid, 
                results.constructorid, constructors.name
        FROM time_in_pitstops 
        JOIN results ON results.raceid = time_in_pitstops.raceid
        AND results.driverid = time_in_pitstops.driverid
        JOIN constructors ON constructors.constructorid = results.constructorid
    ) AS tip
    ON tip.tip_driverref = cf.driverref AND tip.name = cf.name
    GROUP BY (cf.driverref, cf.name) ORDER BY sum DESC;

76 rows affected.

[('hamilton', 'Mercedes', Decimal('12428578')),
 ('rosberg', 'Mercedes', Decimal('12390412')),
 ('perez', 'Force India', Decimal('11876732')),
 ('massa', 'Williams', Decimal('11874456')),
 ('ricciardo', 'Red Bull', Decimal('11816929')),
 ('button', 'McLaren', Decimal('11800713')),
 ('bottas', 'Williams', Decimal('10665109')),
 ('hulkenberg', 'Force India', Decimal('10198930')),
 ('vettel', 'Ferrari', Decimal('9248461')),
 ('nasr', 'Sauber', Decimal('8513533')),
 ('sainz', 'Toro Rosso', Decimal('8356874')),
 ('raikkonen', 'Ferrari', Decimal('8343784')),
 ('kvyat', 'Toro Rosso', Decimal('8311267')),
 ('alonso', 'McLaren', Decimal('8217475')),
 ('max_verstappen', 'Red Bull', Decimal('5816742')),
 ('wehrlein', 'Manor Marussia', Decimal('5609314')),
 ('gutierrez', 'Haas F1 Team', Decimal('5567328')),
 ('kevin_magnussen', 'Renault', Decimal('5535336')),
 ('ericsson', 'Sauber', Decimal('5373074')),
 ('vettel', 'Red Bull', Decimal('5170777')),
 ('grosjean', 'Haas F1 Team', Decimal('5107333')),
 ('ocon', 'Manor Marussia', Decimal('5031572')),
 ('alonso', 'Ferrari', Decimal('5012113')),
 ('grosjean', 'Lotus F1', Decimal('4597738')),
 ('vergne', 'Toro Rosso', Decimal('4148771')),
 ('jolyon_palmer', 'Renault', Decimal('3584563')),
 ('massa', 'Ferrari', Decimal('3376241')),
 ('webber', 'Red Bull', Decimal('3345030')),
 ('gutierrez', 'Sauber', Decimal('3223428')),
 ('chilton', 'Marussia', Decimal('3212233')),
 ('resta', 'Force India', Decimal('3036302')),
 ('maldonado', 'Williams', Decimal('3029721')),
 ('jules_bianchi', 'Marussia', Decimal('2940201')),
 ('maldonado', 'Lotus F1', Decimal('2867305')),
 ('max_verstappen', 'Toro Rosso', Decimal('2384382')),
 ('kevin_magnussen', 'McLaren', Decimal('2154571')),
 ('sutil', 'Force India', Decimal('2152895')),
 ('ocon', 'Force India', Decimal('2105118')),
 ('hamilton', 'McLaren', Decimal('2085508')),
 ('hulkenberg', 'Renault', Decimal('2083151')),
 ('wehrlein', 'Sauber', Decimal('2060905')),
 ('sutil', 'Sauber', Decimal('2038558')),
 ('kevin_magnussen', 'Haas F1 Team', Decimal('2032463')),
 ('michael_schumacher', 'Mercedes', Decimal('2028748')),
 ('vandoorne', 'McLaren', Decimal('2021671')),
 ('kobayashi', 'Sauber', Decimal('1984793')),
 ('ricciardo', 'Toro Rosso', Decimal('1955244')),
 ('bottas', 'Mercedes', Decimal('1925619')),
 ('stroll', 'Williams', Decimal('1890017')),
 ('ericsson', 'Caterham', Decimal('1843925')),
 ('kobayashi', 'Caterham', Decimal('1742177')),
 ('perez', 'Sauber', Decimal('1663803')),
 ('raikkonen', 'Lotus F1', Decimal('1657843')),
 ('kovalainen', 'Caterham', Decimal('1281894')),
 ('barrichello', 'Williams', Decimal('1230851')),
 ('garde', 'Caterham', Decimal('1197610')),
 ('kvyat', 'Red Bull', Decimal('1078624')),
 ('hulkenberg', 'Sauber', Decimal('1066344')),
 ('petrov', 'Caterham', Decimal('1058286')),
 ('kovalainen', 'Lotus', Decimal('1047043')),
 ('alguersuari', 'Toro Rosso', Decimal('1026081')),
 ('pic', 'Caterham', Decimal('1004252')),
 ('petrov', 'Renault', Decimal('1003106')),
 ('buemi', 'Toro Rosso', Decimal('984997')),
 ('perez', 'McLaren', Decimal('963507')),
 ('trulli', 'Lotus', Decimal('954047')),
 ('glock', 'Marussia', Decimal('935865')),
 ('pic', 'Marussia', Decimal('926164')),
 ('bruno_senna', 'Williams', Decimal('921875')),
 ('rosa', 'HRT', Decimal('879844')),
 ('heidfeld', 'Renault', Decimal('573333')),
 ('bruno_senna', 'Renault', Decimal('538377')),
 ('rossi', 'Manor Marussia', Decimal('311537')),
 ('kovalainen', 'Lotus F1', Decimal('107321')),
 ('rosa', 'Sauber', Decimal('54327')),
 ('ambrosio', 'Lotus F1', Decimal('21962'))]

`Holy shit a query O.o`
This is probably not the way intended to do this, but I really don't see any other way. 
We get less results then in #3, since a lot of drivers are getting filtered (for some odd reason), so we don't have a result for each in the #3 result.

### 6. As a last thing we want to find the driver with the least pistop time. However we want to control for the amount of races (see explanation below), so we need to include one last column: the average pitstop time per race. Your table should be sorted based on the ascending values of that average pitstop time.

In [13]:
%sql SELECT driverref, AVG(total_pitstop_time) FROM time_in_pitstops GROUP BY (driverref) ORDER BY avg ASC;

55 rows affected.

[('gasly', Decimal('25044.000000000000')),
 ('giovinazzi', Decimal('29017.000000000000')),
 ('glock', Decimal('49466.555555555556')),
 ('merhi', Decimal('49585.230769230769')),
 ('pic', Decimal('52173.405405405405')),
 ('karthikeyan', Decimal('52388.291666666667')),
 ('resta', Decimal('52736.224137931034')),
 ('michael_schumacher', Decimal('53388.105263157895')),
 ('rosa', Decimal('54951.235294117647')),
 ('petrov', Decimal('55713.297297297297')),
 ('trulli', Decimal('56120.411764705882')),
 ('bruno_senna', Decimal('56163.538461538462')),
 ('alguersuari', Decimal('57004.500000000000')),
 ('stevens', Decimal('57306.000000000000')),
 ('heidfeld', Decimal('57333.300000000000')),
 ('buemi', Decimal('57941.000000000000')),
 ('ambrosio', Decimal('57956.555555555556')),
 ('haryanto', Decimal('58343.545454545455')),
 ('webber', Decimal('59732.678571428571')),
 ('kovalainen', Decimal('60906.450000000000')),
 ('rossi', Decimal('62307.400000000000')),
 ('barrichello', Decimal('68380.611111111111')),
 ('liuzzi', Decimal('70219.875000000000')),
 ('garde', Decimal('70447.647058823529')),
 ('maldonado', Decimal('72802.790123456790')),
 ('kobayashi', Decimal('74539.400000000000')),
 ('vergne', Decimal('75432.200000000000')),
 ('chandhok', Decimal('76668.000000000000')),
 ('sutil', Decimal('82185.352941176471')),
 ('jules_bianchi', Decimal('91881.281250000000')),
 ('chilton', Decimal('97340.393939393939')),
 ('raikkonen', Decimal('98055.166666666667')),
 ('grosjean', Decimal('100052.278350515464')),
 ('button', Decimal('106312.729729729730')),
 ('alonso', Decimal('108439.245901639344')),
 ('rosberg', Decimal('111625.333333333333')),
 ('ericsson', Decimal('112765.609375000000')),
 ('hamilton', Decimal('114284.141732283465')),
 ('vettel', Decimal('115353.904000000000')),
 ('perez', Decimal('116968.080645161290')),
 ('massa', Decimal('121037.277777777778')),
 ('jolyon_palmer', Decimal('123605.620689655172')),
 ('ricciardo', Decimal('127381.462809917355')),
 ('hulkenberg', Decimal('129596.359223300971')),
 ('stroll', Decimal('135001.214285714286')),
 ('bottas', Decimal('138359.648351648352')),
 ('kvyat', Decimal('140147.626865671642')),
 ('vandoorne', Decimal('144405.071428571429')),
 ('gutierrez', Decimal('156977.785714285714')),
 ('sainz', Decimal('167137.480000000000')),
 ('max_verstappen', Decimal('170856.750000000000')),
 ('kevin_magnussen', Decimal('186968.653846153846')),
 ('nasr', Decimal('218295.717948717949')),
 ('wehrlein', Decimal('247426.419354838710')),
 ('ocon', Decimal('297362.083333333333'))]